# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# React Native
android/app/build/
ios/build/

# Expo
.expo/

# Personal notes
DOC..txt
GIT-GITHUB DOC.txt